.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-wrapper {}

.cart__title {
  color: rgba(0,0,0,0.6);
  font-weight: 300;
  padding: 10px 0;
}

.cart__caption {
  color: rgba(0,0,0,0.6);
  font-weight: 300;
  padding: 10px 0;
}

.cart__button--buy-now {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  padding: 15px 0;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.buy-now {
  background: #2b81ec;
  color: white;
  cursor: pointer;
}
